{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}
